@using SignInTechnologys.Dtos.Accounts;
@model AccountRegisterDto
@{
    Layout = "_AccountLayout.cshtml";
}

<form asp-controller="accounts" asp-action="register" method="post" id="register" class="input--group" style="margin-left: 260px; margin-top: 50px;">
    <input type="text" asp-for=FirstName class="input-field form-control" placeholder="FirstName" required>
    <span asp-validation-for="FirstName" class="text-danger"></span>
    <input type="text" asp-for=LastName class="input-field form-control" placeholder="LastName" required>
    <span asp-validation-for="LastName" class="text-danger"></span>
    <input type="text" asp-for="PhoneNumber" class="input-field form-control" placeholder="PhoneNumber" required>
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    <input type="text" asp-for=Email class="input-field form-control" placeholder="Email" required>
    <span asp-validation-for="Email" class="text-danger"></span>
    <input type="Password" asp-for=Password class="input-field form-control" placeholder="Password" required>
    <span asp-validation-for="Password" class="text-danger"></span>
    <input type="checkbox" class="check-box"><span>I agree to terms and conditions</span>
    <button type="submit" class="submit">Register</button>
</form>
